*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 1900px;
  height: 437px;
  background-image: url(./img/header-background.png);
}
.background-img1 {
  display: flex;
  width: 1900px;
  height: 437px;
  margin-top: 69px;
  margin-left: 0px;
}
.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 0px;
  width: 1900px;
  height: 70px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #313131;
}
.logo {
  display: flex;
  justify-content: flex-start;
  width: 27px;
  height: 27px;
  margin-left: 13px;
  margin-top: 22px;
  background: url(./img/logo-img 1.png);
}
.Architect {
  display: flex;
  width: 124px;
  height: 26px;
  margin-left: 67px;
  margin-top: 22px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 384px;
  margin-right: 445px;
  padding: 0px;
}
.link {
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.link:hover {
  color: #14b9d5;
}
.navbar-items-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 26px;
}
.links {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.search {
  display: flex;
  justify-content: center;
  width: 17px;
  height: 17px;
  margin-left: 27px;
  margin-right: 26px;
  margin-top: 27px;
  padding: 0px;
  background: url(./img/fa-search.png);
}
.search-bottom {
  display: flex;
  width: 68px;
  height: 70px;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 0px;
  padding-right: 0px;

  background: #000000;
}
.the-latest-news {
  display: flex;
  position: absolute;
  margin-top: 234px;
  width: 670px;
  height: 32px;
  margin-left: 658px;
  margin-right: 605px;
  margin-bottom: 174px;
  padding: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  align-content: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}
.subscribe {
  /*display: flex;*/
  position: absolute;
  width: 170px;
  height: 55px;
  margin-left: 797px;
  margin-top: 310px;
  padding: 0px;
  margin-right: 20px;
  margin-bottom: 74px;
  border-radius: 8px;

  background: #89ca62;
}
.subscribe-link {
  position: absolute;
  width: 132px;
  height: 22px;
  margin-left: 19px;
  margin-top: 16px;
  padding: 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
}
.best-articles {
  display: flex;
  position: absolute;
  width: 170px;
  height: 55px;
  margin-left: 987px;
  margin-top: 310px;
  margin-bottom: 74px;
  background: #14b9d5;
  border-radius: 8px;
}
.best-articles-link {
  position: absolute;
  justify-content: center;
  width: 132px;
  height: 22px;
  margin-left: 19px;
  margin-top: 16px;
  padding: 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
}
.most-populer {
  display: flex;
  position: relative;
  background: #f2f2f2;
  height: 1030px;
  width: 1900px;
  margin: 0px;
  padding: 0px;
}
.most-populer-posts {
  display: flex;
  position: absolute;
  width: 330px;
  height: 33px;
  margin-left: 791px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 28px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: flex;
  align-content: center;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;
}
.most-populer-posts-img {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  vertical-align: top;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0px;
  list-style: none;
  width: auto;
  height: 1030px;
  margin-left: 370px;
  margin-right: 360px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 125px;
  padding-top: 0px;
}
.most-populer-posts-img-links {
  display: flex;
  align-content: flex-start;
  vertical-align: top;
  margin: 0px;
  padding-right: 30px;
  padding-top: 30px;
}

.background-img2 {
  display: flex;
  position: relative;
  margin-left: 0px;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.0001);
}

.our-most-popular-clients {
  display: flex;
  position: relative;
  width: 1900px;
  height: 588px;
  margin-left: 0px;
  margin-top: 2px;
  background-image: url(./img/Shape-23.png);
}
.image-2 {
  width: 1900px;
  height: 588px;
  margin: 0px;
  padding: 0px;
}

.our-most-popular-clients-header {
  position: absolute;
  width: 496px;
  height: 44px;
  margin-left: 702px;
  margin-top: 106px;
  margin-bottom: 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.line {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  position: absolute;
  width: 60px;
  height: 3px;
  margin-left: 920px;
  margin-top: 239px;
  background: #18b4cf;
  border-radius: 6px;
  border-color: transparent;
}
.brands-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 58px;
  position: absolute;
  margin-left: 510px;
  margin-top: 357px;
  width: 881px;
  height: 63px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.top-rated {
  position: relative;
  width: 1900px;
  height: 324px;
}
.top-rated-head {
  display: flex;
  position: relative;
  width: 177px;
  height: 33px;
  margin-left: 868px;
  margin-top: 49px;
  margin-bottom: 51px;
  padding: 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  align-items: flex-start;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;
}
.top-rated-items {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(8, 271px);
  grid-template-rows: 190px;
  list-style: none;
  width: 1900px;
  height: 190px;
  padding-left: 0px;
  margin: 0px;
  margin: 0px;
}

.hot-news {
  width: 1168px;
  position: absolute;
  margin-left: 372px;
  margin-top: calc(0px - 48px);
  padding-top: 0px;
}

.hot-news-head {
  position: absolute;
  width: 170px;
  height: 33px;
  margin-left: 501px;
  margin-top: 48px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;
}

.first-line {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "box-one box-two box-three";
  grid-row-start: right;
  box-sizing: border-box;
  margin-top: 132px;
  text-align: right;
  color: #5b6469;
}

.box-two {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding-left: 10px;
  padding-right: 24px;
  color: #5b6469;
  margin-right: 35px;
  margin-left: 0px;
  column-gap: 35px;
  text-align: right;
}
.box-three {
  justify-content: center;
  color: #5b6469;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  color: #5b6469;
}
.nabula {
  padding: 14px 27px 11px 27px;
  margin: 0px;
  color: #5b6469;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.second-third-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box-four box-five"
    "box-six box-seven";
  grid-row-start: right;
  box-sizing: border-box;
  margin-top: 44px;
  row-gap: 46px;
  column-gap: 60px;
  color: #5b6469;

  text-align: right;
  padding-right: 13px;
}
.midle-box {
  padding-left: 13px;
  padding-right: 13px;
}
.head-in-box {
  padding-right: 27px;
  margin-top: 14px;
  color: #5b6469;
}
.fouth-line {
  display: grid;
  grid-template-columns: repeat(autofill, 3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "box-eight box-nine box-ten";
  grid-row-start: right;
  padding-right: 0px;
  box-sizing: border-box;
  margin-top: 44px;
}
.box-eight {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #5b6469;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding-top: 0px;
  margin-top: 0px;
  align-content: center;
}
.head-in-box-eight {
  padding-left: 27px;
  padding-top: 5px;
  margin-top: 0px;
  text-align: center;
}

.box-nine {
  margin-left: 35px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 14px;
}
.head-in-box-ten {
  padding-top: 41px;
  text-align: right;
  padding-right: 25px;
  color: #5b6469;
}

.box-ten {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding-right: 24px;
  text-align: right;
  color: #5b6469;
}
.box-one,
.box-two,
.box-three,
.box-four,
.box-five,
.box-six,
.box-seven,
.box-eight,
.box-nine,
.box-ten {
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.footer-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "all-rights logo-footer";
  position: relative;
  width: 1900px;
  height: 80px;
  margin-left: 0px;
  margin-top: calc(1683px - 42px);

  background-color: #000000;
}
.all-rights {
  position: absolute;
  width: 512px;
  height: 21px;
  margin-left: 367px;
  margin-top: 29px;

  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;

  color: #ffffff;
}
.logo-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo-footer-img logo-footer-text";
  position: absolute;
  width: 105px;
  height: 24px;
  margin-left: 1438px;
  margin-top: 29px;
  align-items: center;
}
.logo-footer-img {
  margin-right: 0;
  margin-bottom: 27px;
  padding: 0px;
  vertical-align: center;
}
.logo-footer-text {
  padding: 0px;
  margin-left: 3px;
  margin-bottom: 35px;
  vertical-align: center;
}
